
.input-br {
    border: 2px solid transparent;
}

input:hover {
    border: 2px solid #D1E9FF;
    transition: all .5s ease;
    background: transparent;
}

input:focus::placeholder {
    color: transparent;
}

input::placeholder {
    font-size: 14px;
}

.padding {
    padding: 0 14px 0 53px;
}

